<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Onlineshop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="/assets/images/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS
        ============================================ -->
    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from avobe) -->

    <link rel="stylesheet" href="/assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/plugins.min.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body class="">





    <!--====================  header area ====================-->
    <div class="header-area header-area--default">

        <!-- Header Bottom Wrap Start -->
        <header class="header-area  header_height-90 header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4 d-none d-md-block">
                        <div class="header-left-search">
                            <form action="#" class="header-search-box">
                                <input class="search-field" type="text" placeholder="Найти что угодно...">
                                <button class="search-icon"><i class="material-icons">search</i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <div class="logo text-md-center">
                            <a href="index.html"><img src="/assets/images/logo/logo.svg" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <div class="header-right-side text-right">
                            <div class="header-right-items  d-none d-md-block">
                                <a href="#" data-toggle="modal">
                                    <i class="material-icons">person</i>
                                </a>
                            </div>
                            <div class="header-right-items d-none d-md-block">
                                <a href="#" class="header-cart">
                                    <i class="material-icons">accessibility</i>
                                    <span class="item-counter">3</span>
                                </a>
                            </div>

                            <div class="header-right-items">
                                <a href="#" class=" header-cart minicart-btn toolbar-btn header-icon">
                                    <i class="material-icons">shopping_basket</i>
                                    <span class="item-counter">3</span>
                                </a>
                            </div>
                            <div class="header-right-items d-block d-md-none">
                                <a href="javascript:void(0)" class="search-icon" id="search-overlay-trigger">
                                    <i class="material-icons">search</i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Bottom Wrap End -->

    </div>
    <!--====================  End of header area  ====================-->
































    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row breadcrumb_box  align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-left">
                            <h2 class="breadcrumb-title">{{ title }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->

    <div class="site-wrapper-reveal border-bottom">

        <!-- Product Area Start -->
        <div class="product-wrapper section-space--ptb_120">
            <div class="container">

                <div class="row">
                    <div class="col-auto">
                        <img src="/assets/images/product/{{ img_url }}" class="img-fluid" alt="Product Images">
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>ID: {{ id }}</li>
                            <li>Название: {{ title }}</li>
                            <li>Цена: {{ price }}</li>
                            <li>Img: {{ img_url }}</li>
                            <li>Время в базе: {{ age }}</li>
                        </ul>
                    </div>
                </div>

                <a href="/" class="btn btn-link my-2">На главную</a>

                <form action="/product_detail/{{ id }}" method="post">
                    <div class="form-group">
                        <label for="exampleInputTitle">Новое название товара:</label>
                        <input type="text" class="form-control" id="exampleInputTitle" aria-describedby="titleHelp"
                            name="new_title">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputCost">Новая цена:</label>
                        <input type="number" class="form-control" id="exampleInputCost" name="new_price">
                    </div>
                    <div class="form-group">
                        <label for="exampleImg">Новый IMG:</label>
                        <input type="text" class="form-control" id="exampleImg" aria-describedby="ImgHelp"
                            name="new_img_url">
                    </div>
                    <button type="submit" class="btn btn-success my-2">Изменить товар</button>
                </form>

                <form action="/del_product/{{ id }}" method="post">
                    <button type="submit" class="btn btn-danger my-2">Удалить товар</button>
                </form>
            </div>

        </div>

        <!-- Product Area End -->


    </div>



    <!--====================  footer area ====================-->
    <div class="footer-area-wrapper">
        <div class="footer-area section-space--ptb_120">
            <div class="container">
                <div class="row footer-widget-wrapper">
                    <div class="col-lg-4 col-md-4 col-sm-6 footer-widget">
                        <h6 class="footer-widget__title mb-20">Адрес</h6>
                        <ul class="footer-widget__list">
                            <li><i class="material-icons">location_on</i> Москва</li>
                            <li><i class="material-icons">phone</i><a href="tel:846677028028"
                                    class="hover-style-link">+79670000000</a></li>

                        </ul>
                        <ul class="list footer-social-networks mt-25">

                            <li class="item">
                                <a href="https://twitter.com" target="_blank" aria-label="Twitter">
                                    <i class="material-icons">facebook</i>
                                </a>
                            </li>
                            <li class="item">
                                <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                                    <i class="material-icons">public</i>
                                </a>
                            </li>
                            <li class="item">
                                <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                                    <i class="material-icons">thumb_up_alt</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 footer-widget">
                        <h6 class="footer-widget__title mb-20">Информация</h6>
                        <ul class="footer-widget__list">
                            <li><a href="#" class="hover-style-link">Контакты</a></li>
                            <li><a href="#" class="hover-style-link">Правила</a></li>
                            <li><a href="#" class="hover-style-link">Магазины</a></li>
                            <li><a href="#" class="hover-style-link">Оферта</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 footer-widget">
                        <h6 class="footer-widget__title mb-20">О нас</h6>
                        <ul class="footer-widget__list">
                            <li><a href="#" class="hover-style-link">Кто мы</a></li>
                            <li><a href="#" class="hover-style-link">Что мы делаем</a></li>
                            <li><a href="#" class="hover-style-link">FAQ</a></li>
                            <li><a href="#" class="hover-style-link">Связаться</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 footer-widget">
                        <h6 class="footer-widget__title mb-20">Новости</h6>
                        <div class="footer-widget__newsletter mt-30">
                            <input type="text" placeholder="Ваш email">
                            <button class="submit-button"><i class="material-icons">east</i></button>
                        </div>
                        <ul class="footer-widget__footer-menu  section-space--mt_60 d-none d-lg-block">
                            <li><a href="#">Политика конфеденциальности</a></li>
                            <li><a href="#">Термины и определения</a></li>
                            <li><a href="#">Карта сайта</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright-area section-space--pb_30">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-5 text-center text-md-left">
                        <ul class="footer-widget__footer-menu">
                            <li><a href="#">Политика конфеденциальности</a></li>
                            <li><a href="#">Термины и определения</a></li>
                            <li><a href="#">Карта сайта</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-2 text-center">
                        <div class="footer-logo">

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 order-md-3">
                        <div class="footer-bottom-social">
                            <h6 class="title">Мы в соц.сетях</h6>
                            <ul class="list footer-social-networks ">
                                <li class="item">
                                    <a href="https://twitter.com" target="_blank" aria-label="Twitter">
                                        <i class="material-icons">facebook</i>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                                        <i class="material-icons">public</i>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                                        <i class="material-icons">thumb_up_alt</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of footer area  ====================-->



    <!--====================  search overlay ====================-->
    <div class="search-overlay" id="search-overlay">

        <div class="search-overlay__header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-8">
                        <div class="search-title">
                            <h4 class="font-weight--normal">Search</h4>
                        </div>
                    </div>
                    <div class="col-md-6 ml-auto col-4">
                        <!-- search content -->
                        <div class="search-content text-right">
                            <span class="mobile-navigation-close-icon" id="search-close-trigger"><i
                                    class="icon-cross"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-overlay__inner">
            <div class="search-overlay__body">
                <div class="search-overlay__form">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9 ml-auto mr-auto">
                                <form action="#">
                                    <div class="product-cats section-space--mb_60 text-center">
                                        <label> <input type="radio" name="product_cat" value="" checked="checked"> <span
                                                class="line-hover">All</span> </label>
                                        <label> <input type="radio" name="product_cat" value="decoration"> <span
                                                class="line-hover">Decoration</span> </label>
                                        <label> <input type="radio" name="product_cat" value="furniture"> <span
                                                class="line-hover">Furniture</span> </label>
                                        <label> <input type="radio" name="product_cat" value="table"> <span
                                                class="line-hover">Table</span> </label> <label> <input type="radio"
                                                name="product_cat" value="chair"> <span class="line-hover">Chair</span>
                                        </label>
                                    </div>
                                    <div class="search-fields">
                                        <input type="text" placeholder="Search">
                                        <button class="submit-button"><i class="material-icons">search</i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--====================  End of search overlay  ====================-->


    <!--====================  scroll top ====================-->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="arrow-top icon-arrow-up"></i>
        <i class="arrow-bottom icon-arrow-up"></i>
    </a>
    <!--====================  End of scroll top  ====================-->



    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- jQuery JS -->
    <script src="/assets/js/vendor/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="/assets/js/vendor/bootstrap.min.js"></script>


    <!-- Plugins JS (Please remove the comment from below plugins.min.js for better website load performance and remove plugin js files from avobe) -->


    <script src="/assets/js/plugins/plugins.js"></script>


    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>


</body>

</html>